.contendor__acerca {
    display: flex;
}

.espaciador {
    width: 100%;
    height: 180px;
}

main {
    padding: 20px;
}

.acercademi {
    flex-direction: column;
    align-items: center;
    height: auto;
}

.contendor__acerca main img {
    position: relative;
    width: 200px;
}

.acercademi__bibliografia {
    position: relative;
    height: 300px;
    width: 280px;
    overflow: scroll;
    text-align: justify-all;
}

.acercademi__bibliografia::first-line {
    color: darkred;
    position: fixed;
}

.acercademi__btn {
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

.acercademi__btn:hover {
    font-size: 1.1em;
}

/* iPhone 12 Pro */
@media only screen and (min-width: 300px) and (max-width: 1080px) {
    /* Estilos específicos para iPhone 12 Pro */
    .contendor__acerca {
        margin-top: 90px;
        flex-direction: column;
    }


}


@media only screen and (min-width: 1081px) and (max-width: 1366px) {
    /* Estilos específicos para iPad */

}


@media only screen and (min-width: 1367px) {

}