.contendor__acerca {
    display: flex;
}

.espaciador {
    width: 100%;
    height: 180px;
}

main {
    padding: 20px;
}

.acercademi {

    flex-direction: column;
    align-items: center;
}

.contendor__acerca main img {
    position: relative;
    width: 200px;
}

.acercademi__bibliografia {
    position: relative;
    height: 300px;
    width: 280px;
    overflow: scroll;
    text-align: justify-all;
}

.acercademi__bibliografia::first-line {
    color: darkred;
    position: fixed;
}

@media only screen and (min-width: 300px) and (max-width: 1080px) {
    .contendor__acerca {
        flex-direction: column;
        margin-top: 270px;
    }

    main {
        height: auto;
    }
}