body {
    position: relative;
    background-color: #333;
    background-size: cover;
    background-position: right;

}

.espaciador {
    width: 100%;
    height: 180px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    z-index: -1;
}

.contenedor {
    padding: 20px 0;
    display: flex;
    align-items: start;
    justify-content: center;
}

.contenedor__formulario {
    margin: 0 40px;
    background-color: #555555;
    height: auto;
    color: white;
    padding: 10px;
    font-family: Orbitron, sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 6px 1px;
}

.contenedor__mapa {
    padding: 5px;
    border-radius: 10px;
    background-color: #03506d;
}

input, label, textarea {
    width: 100%;
    display: block;
    font-family: Orbitron, sans-serif;
    border-radius: 5px;
}

input, textarea {
    margin-bottom: 10px;
    margin-top: 3px;
    height: 25px;
    padding-left: 10px;
}

.campos {
    border-radius: 8px;
    padding: 15px;
}

.radio, .desc {
    width: 31%;
    float: left;
    text-align: center;
}

.tabla {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: darkslategray;
    border-radius: 8px;
    box-shadow: 0 0 4px 1px white;
}

.tabla thead {
    background-color: #555555;
    height: 30px;
    font-size: 0.75em;
}

.tabla td {
    border: 2px solid black;
    width: 50%;
    height: 25px;
    padding: 0 10px;
    font-size: 0.75em;
}

#btn {
    margin: 20px 0;
    height: 40px;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background-color: darkslategray;
    border: 2px solid white;
    color: white;
    transform: scale(1.05);
}

.fx:focus-within {
    box-shadow: 0 0 7px 2px darkmagenta;
}

.contenedorTabla {
    margin: 20px auto;
    width: 40%;
}

/* Desde 100px hasta 768px, el formulario será del 86% */
@media only screen and (min-width: 300px) and (max-width: 1080px) {
    .contenedor__formulario {
        width: 98%;
        font-size: 0.65rem;
        margin: 0 auto;
    }

    .cabecera {
        position: static;
    }

    .contenedorTabla {
        width: 98%;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1366px) {
    .contenedor__formulario {
        width: 60%;
    }

    .contenedorTabla {
        width: 60%;
    }
}

@media only screen and (min-width: 1377px) {
    .contenedor__formulario {
        width: 34%;
    }

    .contenedorTabla {
        width: 40%;
    }
}
