* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Chackra;
    src: url("../fonts/Chakra Petch-Regular.ttf") format("truetype");
    font-style: normal;
}


main {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 35, 47);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 500px;
    padding: 30px 0;
    animation-name: escalar;
    animation-delay: 0.2s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.juego-contador {
    position: relative;
    background-color: #03506d;
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 0 8px 5px whitesmoke;
}

@keyframes escalar {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.portada {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.juegoppt {
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 8px 5px whitesmoke;
}

.juegoppt__player {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#pc-estado {
    width: 130px;
    height: 100px;
    object-fit: cover;
}

#human-estado {
    width: 120px;
    height: 100px;
    object-fit: cover;
}

.player__leyenda {
    color: greenyellow;
    font-family: Chackra, serif;
    font-size: 2.5em;
    text-align: center;
}

.botones {
    height: 60%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
    align-items: center;
    background-color: #03506d;
    border-radius: 20px;
}

.btn-ppt {
    width: 50px;
    height: 50px;
    padding: 5px;
    object-fit: cover;
    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px yellow;
}

#btn-tijera, #btn-piedra, #btn-papel {
    background-color: transparent;
    border: none;
}

.jugada {
    width: 150px;
    height: 160px;
    object-fit: cover;
}

#btn_comenzar {
    padding: 20px 30px;
    font-family: Chackra, serif;
    font-size: 1.3em;
    border: 4px solid black;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
}

#btn_comenzar:hover {
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 0 5px 2px whitesmoke;
}

#btn_comenzar:disabled {
    border-color: #555555;
    transition: 0.3s;
    opacity: 0.5;
}

#btn_comenzar:hover:disabled {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.2;
}

@media only screen and (min-width: 300px) and (max-width: 1081px) {
    .juegoppt {
        width: 80%;
    }

    .player__leyenda {
        font-size: 1.8em;
    }
}