*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Chackra;
    src: url("../fonts/Chakra Petch-Regular.ttf") format("truetype");
    font-style: normal;
}

body {
    /*position: relative;*/
    margin: 0;
    padding: 0;
    font-family: Chackra, serif;
}

.espaciador {
    width: 100%;
    height: 180px;
}

.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444444;
    padding: 0 25px;
    box-shadow: 1px 1px 3px darkgray;
    opacity: 0.98;
    z-index: 1;
}


.cabecera__menu--titulo {
    display: inline-block;
}

.cabecera__menu--subtitulo {
    display: inline-block;
}

.cabecera__menu {
    display: flex;
    gap: 20px;
    background-color: #555555;
    padding: 15px;
    border-radius: 4px;
}

.cabecera__contenedor {
    position: relative;
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555555;
    padding: 0 30px;
    transition: 0.3s;
}

.cabecera__contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.3;
    z-index: -1;
}

.cabecera__menu--titulo {
    color: #333333;
}

.cabecera__menu--subtitulo {
    color: darkgray;
}

.cabecera__menu--item {
    text-decoration: none;
    height: auto;
    color: #d3d3d3;
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #333333;
    border-radius: 6px;
    transition: 0.3s;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.logo_y_bienvenida {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #555555;
    border-radius: 8px;
    opacity: 0.8;

}

.bienvenida__logo {
    width: 120px;
    height: 120px;
    animation: logo_animacion 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

@keyframes logo_animacion {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);

    }
}

aside {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(3, 80, 109, 0.89);
}

aside img {
    width: 200px;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 1px 4px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    background-color: #03506d;
    text-align: center;
}

main h3 {
    margin: 0;
    font-size: 1.8em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 15px 0;
    color: whitesmoke;
}

.up_arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #03506d;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    animation: up_arrow_animacion 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes up_arrow_animacion {
    0% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-10px);
        background-color: darkred;
        opacity: 1;
        box-shadow: 0 0 8px 1px whitesmoke;
    }
}

footer img {
    width: 64px;
}

.logo_y_bienvenida {
    background-color: rgba(1, 35, 47, 0.61);
}

/* iPhone 12 Pro */
@media only screen and (min-width: 300px) and (max-width: 767px) {
    /* Estilos específicos para iPhone 12 Pro */
    .cabecera {
        padding: 0;
        flex-direction: column;
    }

    .cabecera__menu {
        flex-direction: column;
        width: 100%;
    }

    .cabecera__menu--item {
        text-align: center;
    }

    .contenedor {
        margin-top: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    main {
        width: 100%;
        height: 300px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1366px) {
    /* Estilos específicos para iPad */
    .cabecera {
        padding: 0;
    }

    .cabecera__contenedor {
        text-align: center;
    }

    .cabecera__menu--item {
        width: 180px;
    }

    .cabecera__menu {
        width: 100%;
        height: 180px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cabecera__contenedor:hover {
        transform: translateX(30px);
    }

    .cabecera__contenedor:hover .cabecera__menu--titulo {
        color: whitesmoke;
    }
}


@media only screen and (min-width: 1367px) {
    .cabecera__contenedor:hover {
        transform: translateX(200px);
    }

    .cabecera__contenedor:hover .cabecera__menu--titulo {
        color: whitesmoke;
    }
}