*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Chackra;
    src: url("../fonts/Chakra Petch-Regular.ttf") format("truetype");
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Chackra, serif;
}

.cabecera {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding: 0 25px;
}

.cabecera__menu--titulo {
    display: inline-block;
}

.cabecera__menu--subtitulo {
    display: inline-block;
}

.cabecera__menu {
    display: flex;
    gap: 20px;
    background-color: #555555;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px darkgray;
}

.cabecera__contenedor {
    position: relative;
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555555;
    padding: 0 30px;
    transition: 0.3s;
}

.cabecera__contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.3;
    z-index: -1;
}

.cabecera__menu--titulo {
    color: #333333;
}

.cabecera__menu--subtitulo {
    color: darkgray;
}

.cabecera__menu--item {
    text-decoration: none;
    height: auto;
    color: #d3d3d3;
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #333333;
    border-radius: 6px;
    transition: 0.3s;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}
aside {
    width: 20%;
    height: 460px;
    display: flex;
    flex-direction: column;
    background-color: #03506d;
}

aside img {
    width: 200px;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 1px 4px;
}

main {
    width: 80%;
    height: auto;
    background-color: #03506d;
    text-align: center;
}
main h3{
    margin: 0;
    font-size: 1.8em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 15px 0;
    color: whitesmoke;
}

footer img {
    width: 64px;
}

/* iPhone 12 Pro */
@media only screen and (min-width: 300px) and (max-width: 767px) {
    /* Estilos específicos para iPhone 12 Pro */
    .cabecera {
        padding: 0;
        flex-direction: column;
    }

    .cabecera__menu {
        flex-direction: column;
        width: 100%;
    }

    .cabecera__menu--item {
        text-align: center;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
    main {
        width: 100%;
        height: 300px;
    }
}

footer {
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    /* Estilos específicos para iPhone 12 Pro */
    .cabecera {
        padding: 0;
    }

    .cabecera__contenedor {
        text-align: center;
    }

    .cabecera__menu--item {
        width: 180px;
    }

    .cabecera__menu {
        width: 100%;
        height: 180px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cabecera__contenedor:hover {
        transform: translateX(30px);

        .cabecera__menu--titulo {
            color: whitesmoke;
        }
    }
}

/* MacBook Pro */
@media only screen and (min-width: 1367px) {
    .cabecera__contenedor:hover {
        transform: translateX(200px);

        .cabecera__menu--titulo {
            color: whitesmoke;
        }
    }
}